@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans:500&subset=latin-ext');

#map {
    height: 100%;
}

p {
    text-align: justify;
    display: inline;
}

body {
    background-color: #E9EBEE;
}

.year {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin-left: 20px;
}

.year-label {
    margin-top: 30px;
    margin-left: 20px;
}